.navbar-right {
    margin-top: 8px;
    margin-right: -3px;
}

#search-bar {
    width: 250px;
}

.panel {
    margin-top: 25%;
}

.item-table {
    text-align: center;
}

.item-table th{
    text-align: center;
}