{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include "app/nav-snippet.html" with class='active' %}
{% endblock %}

{% block main %}
    <main class="col-sm-offset-3 col-sm-6">

        <section>
            <h3>My Shopping List</h3>

            <Table class="table table-striped">
                <thead>
                    <tr>
                        <th>Shopping list</th>
                        <th>Budget (&#x20A6;)</th>
                    </tr>
                </thead>
                {% for shopping_list in shopping_lists %}
                    <tr>
                        <td>
                            <a href="{% url 'list-items' shopping_list_id=shopping_list.id %}">
                                {{ shopping_list.name|capfirst }}
                            </a>
                        </td>
                        <td>
                            {{ shopping_list.budget }}
                        </td>
                        <td>
                            <a class="btn btn-link btn-sm" href="{% url 'edit-shopping-list' id=shopping_list.id %}">
                                Edit
                            </a>
                            <a class="btn btn-link btn-sm" href="{% url 'delete-shopping-list' id=shopping_list.id %}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </Table>
        </section>
        <hr />
        <section>
            <h3 class="text-capitalize">create new shopping list</h3>
            <form action="{% url 'create-shopping-list' %}" method="post" class="form-horizontal">
                {% include "app/create-item-snippet.html" %}
            </form>
        </section>
    </main>
{% endblock %}