{% extends "base.html" %}

{% block main %}
    
    <h1>{{ shopping_list.name }} Items</h1>
    <h4>Budget: {{ shopping_list.budget }}</h4>

    <ul>
        {% for item in items %}
            <li>
                {{ item.name }}
            </li>
        {% endfor %}
    </ul>

    <div>
        <h4>Create new shopping list</h4>
        <form action="{% url 'items' shopping_list_id=shopping_list.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br />
            <br />
            <input type="submit" value="Add new Item">
        </form>
    </div>
    
{% endblock %}