{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block navbar %}
    {% include "app/nav-snippet.html" %}
{% endblock %}

{% block main %}
    <main class="col-sm-offset-3 col-sm-6">

        <!-- List of items in shopping list -->
        <section>
            <h1 class="text-center">{{ shopping_list.name }} Items</h1>
            <h4 class="text-center">Budget: {{ shopping_list.budget }}</h4>
            <br />
            <Table class="table table-striped item-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <a class="btn btn-link btn-sm" href="{% url 'edit-item' id=item.id %}">
                                Edit
                            </a>
                            <a class="btn btn-link btn-sm" href="{% url 'delete-item' id=item.id %}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </Table>
        </section>

        <!-- Enter new item form -->
        <section>
            <h4>Create new shopping list</h4>
            <form action="{% url 'items' shopping_list_id=shopping_list.id %}" method="post" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="control-label col-sm-2">
                            {{ field.label_tag }}
                        </label>
                        <div class="col-sm-10">
                            {% render_field field class+="form-control" %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Add new Item</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    
{% endblock %}