<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">SHOPPING LIST APP</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="{{ class }}">
            <a href="{% url 'index' %}">Home</a>
        </li>
    </ul>
    {% if show_search %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form action="{% url 'search-items' shopping_list_id=shopping_list.id %}" method="get" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search shopping list item" name="q" id="search-bar" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </li>
        </ul>
    {% endif %}
  </div>
</nav>

